<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Regístrate</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="registerUser()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="registerData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="registerData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirma Contraseña</span>
          <input type="password" ng-model="registerData.password_confirmation">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Registrar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
