<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ionic/release/js/ionic.js"></script>
    <script src="bower_components/ionic/release/js/ionic-angular.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- your app's js -->
    <!-- build:js scripts/scripts.js -->
    <script src="js/configuration.js"></script>
    <script src="js/app.js"></script>
    <!--  Controllers -->
    <script src="js/auth.js"></script>
    <script src="js/game.js"></script>
    <script src="js/push.js"></script>
    <!-- Services --> 
    <!--<script src="js/game_services.js"></script>--> 
    <script src="js/user_services.js"></script>
    <!-- endbuild -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
    <!-- <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="lib/angular-websocket/dist/angular-websocket.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ionic-service-core/ionic-core.js"></script>
    <script src="lib/ionic-service-push/ionic-push.js"></script>
  
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

  </head>
  <body ng-app="starter">

    <ion-view>
      <ion-header-bar>
        <h1 class="title">Puntos Pelotas</h1>
      </ion-header-bar>
      <ion-content>
        <form ng-submit="doLogin()" ng-controller="AuthCtrl">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" ng-model="loginData.email"/>
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="loginData.password">
            </label>
            <label class="item">
              <button class="button button-block button-positive" type="submit">Entrar</button>
            </label>
          </div>
        </form>
        <ion-item>
          <button ng-controller="AuthCtrl" ng-click="register()" class="button button-block button-assertive">Regístrate</button>
        </ion-item>
      </ion-content>
    </ion-view>

    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>


  </body>
</html>
