/* Empty. Add your own CSS if you like */

/* POINTS */
/* Players */
.position{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
  width: 26px;
  height: 26px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  float: left;
}
.position_PT{
  background-color: #ffd800;
}
.position_DF{
  background-color: #66B4E8;
}
.position_MC{
  background-color: #21C130;
}
.position_DL{
  background-color: #ED1C24;
}

.name{
  float: left;
  margin-left: 5px;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
}

.points{
  float: left;
  margin-left: 8px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 26px;
  height: 26px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  float: right;
}
.points_-2{
  color: #ED1C24;
}
.points_0{
  color: #9F9F9F;
}
.points_2,
.points_3,
.points_4,
.points_6,
.points_5,
.points_7,
.points_8{
  color: #ff9800;
}

.points_9,
.points_10,
.points_11{
  color: #21C130;
}

.points_14,
.points_16{
  color: #66B4E8;
}
/* Players */

/* Team */
.team_name{
  float:left;
  width: 80%;
}
.score{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
  width: 26px;
  height: 26px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  float: right;
  background-color: #21C130;
}
/* Team */